html,
body {
  height: 100%;
  margin: 0;
  font-family: "montserrat";
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.botao-tarefa {
  background: none;
  border: none;
  cursor: pointer;
}
